<section class="bg-dark py-5">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-7">
                <img src="../../assets/organic-img/organic-store-white-logo.png" alt="">
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center">
              <h6 class="text-capitalize text-light">all rights are reserved at organic &copy; 2024</h6>
            </div>
        </div>
    </div>
</section>
