<section class="hero-section">
<section class="sub-hero d-flex align-items-end justify-content-center flex-column">
   
            <div class=" w-50 ">
                <div class="card  border-0 bg-transparent" >
                    <img src="../../assets/organic-img/logo-leaf-new.png" class="w-25" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Best Quality Products</h5>
                      <h5 class="card-title fs-2">Join The Organic Movement!</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
                      <app-shared-card></app-shared-card>
                    </div>
                  </div>
            </div>
     
</section>
</section>
