<section class="product-section pb-3">
    <div class="d-flex justify-content-center">
        <img src="../../assets/organic-img/basil-leaf.png" alt="">
    </div>
    <section class="container my-5">
        <div class="row gy-2">
            <div class="col-lg-4" *ngFor="let product of productList">
                <div class="card border-0 " >
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">{{product.productName}}</h5>
                      <p class="card-text">{{product.productDescription}}</p>
                     <p class="badge bg-info d-block "> {{product.productQuantity==1?"only one product avilable ":product.productQuantity==0?"no product avilable":"product quantity: "+product.productQuantity}}</p>
                     <button class="btn text-uppercase text-light px-4 py-2" [ngClass]="{
                        'btn-success':product.productQuantity,
                        'btn-warning' :product.productQuantity==1,
                        'btn-danger disabled' :  product.productQuantity==0}">
                         <span *ngIf="product.productQuantity == 0" class="fa-solid fa-ban text-light disabled me-2"></span>
                         <span *ngIf="product.productQuantity != 0" class="fas fa-shopping-cart text-light me-2"></span>
                         {{product.productQuantity==0? "solid now":"buy now"}}
                         </button>
                    </div>
                  <div class="d-flex justify-content-end">  <img [src]="product.productImg" class="w-50" alt="image of product item"></div>
                  </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="card border-0" >
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">Fresh Vegetables</h5>
                      <p class="card-text">Aliquam porta justo nibh, id laoreet sapien sodales vitae justo.</p>
                      <app-shared-card></app-shared-card>
                    </div>
                   <div class="d-flex justify-content-end"> <img src="../../assets/organic-img/vegetable.jpg" class="w-50" alt="..."></div>
                  </div>
            </div>  -->
            <!-- <div class="col-lg-4">
                <div class="card border-0" >
                    <div class="card-body">
                      <h5 class="card-title text-capitalize">Organic Legume</h5>
                      <p class="card-text">Phasellus sed urna mattis, viverra libero sed, aliquam est.</p>
                      <app-shared-card></app-shared-card> 
                    </div>
                   <div class="d-flex justify-content-end"> <img src="../../assets/organic-img/images (1).jpg" class="w-50" alt="..."></div>
                  </div>
            </div> -->
        </div>
    </section>
    <section class="bg-dark py-5">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-7">
                    <h2 class="text-white text-capitalize">Get 25% Off On Your First Purchase!</h2>
                </div>
                <div class="col-lg-4 d-flex justify-content-center">
                   <app-shared-card></app-shared-card>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center ">
        <i class="fa-solid fa-arrow-down  fs-2 mb-2"></i>
        <h4 class="">Try It For Free. No Registration Needed.</h4>
    </section>
</section>
